<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
<h1>You have been granted access to Brittle Pins</h1>

<p>
  You requested access to <b>Brittle Pins</b> for the email address <b><%= @email %></b>.

  Now you can <a href="https://brittle-pins.com/signup" target="_blank" rel="noopener noreferrer">sign up</a>
  using your invitation code: <%= @invitation_code %>

  Please note that the code is only valid for the email that was specified when sending the request.
  If you did not request an invitation, please ignore this message.
</p>

<small>
  Please don't reply directly to this email.
  Instead, you can <a href="mailto:admin@brittle-pins.com">contact our admin</a>.
</small>
</body>
</html>
