<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <style>
      * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        font-weight: 300;
        box-sizing: border-box;
        color: #46454c;
      }

      .header {
        background-color: #a6905b;
        padding: .8rem 2rem;
      }

      .email-container {
        max-width: 900px;
        background-color: #fbfbfb;
        margin: auto;
        box-shadow: 0px 5px 5px 2px #46454c45;
      }

      .email-body-container {
        padding: 2rem;
      }

      .signature {
        display: flex;
        align-items: center;
      }

      svg.signature-logo {
        margin-right: 1rem;
      }

      h1 {
        font-size: 1.5rem;
        color: #fbfbfb;
      }

      h1 > svg.header-logo {
        margin-right: 1rem;
        vertical-align: text-bottom;
      }

      b {
        font-weight: 400;
      }

      a {
        color: #71a4ea;
        text-decoration: none;
      }

      hr {
        margin: 2rem 0;
        opacity: .5;
      }
    </style>
  </head>

  <body>
    <div class="email-container">
      <div class="header">
        <h1>
          <svg class="header-logo" width="35" height="26" viewBox="0 0 35 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.9397 15.6438H9.91907V10.6242L14.9397 15.6438Z" stroke="#FBFBFB"/>
            <path d="M20.0454 15.6438H25.066V10.6242L20.0454 15.6438Z" stroke="#FBFBFB"/>
            <rect x="9.91907" y="19.3345" width="5.72791" height="5.7266" stroke="#FBFBFB"/>
            <rect x="9.91907" y="0.5" width="5.72791" height="5.7266" stroke="#FBFBFB"/>
            <mask id="path-5-inside-1" fill="white">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M31.6168 16.1506H28.2722V9.42403H31.6361V9.42409C31.6361 9.42409 31.6361 9.42409 31.6361 9.42409C33.4936 9.42409 35.0001 10.9299 35.0001 12.7874C35.0001 14.6449 33.4936 16.1507 31.6361 16.1507C31.6297 16.1507 31.6232 16.1507 31.6168 16.1506Z"/>
            </mask>
            <path d="M28.2722 16.1506H27.2722V17.1506H28.2722V16.1506ZM31.6168 16.1506L31.6224 15.1506H31.6168V16.1506ZM28.2722 9.42403V8.42403H27.2722V9.42403H28.2722ZM31.6361 9.42403H32.6361V8.42403H31.6361V9.42403ZM31.6361 9.42409H30.6361V10.4241L31.6361 10.4241L31.6361 9.42409ZM28.2722 17.1506H31.6168V15.1506H28.2722V17.1506ZM27.2722 9.42403V16.1506H29.2722V9.42403H27.2722ZM31.6361 8.42403H28.2722V10.424H31.6361V8.42403ZM32.6361 9.42409V9.42403H30.6361V9.42409H32.6361ZM31.6361 10.4241C31.6361 10.4241 31.6361 10.4241 31.6361 10.4241V8.42409C31.6361 8.42409 31.6361 8.42409 31.6361 8.42409L31.6361 10.4241ZM31.6361 10.4241C32.9416 10.4241 34.0001 11.4824 34.0001 12.7874H36.0001C36.0001 10.3774 34.0457 8.42409 31.6361 8.42409V10.4241ZM34.0001 12.7874C34.0001 14.0923 32.9416 15.1507 31.6361 15.1507V17.1507C34.0457 17.1507 36.0001 15.1974 36.0001 12.7874H34.0001ZM31.6361 15.1507C31.6316 15.1507 31.627 15.1507 31.6224 15.1506L31.6112 17.1506C31.6195 17.1507 31.6278 17.1507 31.6361 17.1507V15.1507Z" fill="#FBFBFB" mask="url(#path-5-inside-1)"/>
            <mask id="path-7-inside-2" fill="white">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3.38328 16.1506H6.72795V9.42403H3.36399V9.42409C3.36398 9.42409 3.36397 9.42409 3.36395 9.42409C1.50645 9.42409 0 10.9299 0 12.7874C0 14.6449 1.50645 16.1507 3.36395 16.1507C3.3704 16.1507 3.37684 16.1507 3.38328 16.1506Z"/>
            </mask>
            <path d="M3.38328 16.1506L3.38328 15.1506L3.37765 15.1506L3.38328 16.1506ZM6.72795 16.1506V17.1506H7.72795V16.1506H6.72795ZM6.72795 9.42403H7.72795V8.42403H6.72795V9.42403ZM3.36399 9.42403V8.42403H2.36399V9.42403H3.36399ZM3.36399 9.42409L3.36398 10.4241L4.36399 10.4241V9.42409H3.36399ZM3.38328 17.1506H6.72795V15.1506H3.38328V17.1506ZM7.72795 16.1506V9.42403H5.72795V16.1506H7.72795ZM6.72795 8.42403H3.36399V10.424H6.72795V8.42403ZM2.36399 9.42403V9.42409H4.36399V9.42403H2.36399ZM3.36395 10.4241C3.36396 10.4241 3.36397 10.4241 3.36398 10.4241L3.364 8.42409C3.36399 8.42409 3.36397 8.42409 3.36395 8.42409V10.4241ZM1 12.7874C1 11.4824 2.05849 10.4241 3.36395 10.4241V8.42409C0.954423 8.42409 -1 10.3774 -1 12.7874H1ZM3.36395 15.1507C2.05849 15.1507 1 14.0923 1 12.7874H-1C-1 15.1974 0.954423 17.1507 3.36395 17.1507V15.1507ZM3.37765 15.1506C3.37309 15.1507 3.36853 15.1507 3.36395 15.1507V17.1507C3.37227 17.1507 3.38059 17.1507 3.38891 17.1506L3.37765 15.1506Z" fill="#FBFBFB" mask="url(#path-7-inside-2)"/>
            <mask id="path-9-inside-3" fill="white">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3.38435 25.5747H6.72795V18.8481H3.36399V18.8481C3.36398 18.8481 3.36397 18.8481 3.36395 18.8481C1.50645 18.8481 0 20.3539 0 22.2114C0 24.0689 1.50645 25.5747 3.36395 25.5747C3.37076 25.5747 3.37756 25.5747 3.38435 25.5747Z"/>
            </mask>
            <path d="M3.38435 25.5747L3.38435 24.5747L3.37839 24.5747L3.38435 25.5747ZM6.72795 25.5747V26.5747H7.72795V25.5747H6.72795ZM6.72795 18.8481H7.72795V17.8481H6.72795V18.8481ZM3.36399 18.8481V17.8481H2.36399V18.8481H3.36399ZM3.36399 18.8481L3.36398 19.8481L4.36399 19.8481V18.8481H3.36399ZM3.38435 26.5747H6.72795V24.5747H3.38435V26.5747ZM7.72795 25.5747V18.8481H5.72795V25.5747H7.72795ZM6.72795 17.8481H3.36399V19.8481H6.72795V17.8481ZM2.36399 18.8481V18.8481H4.36399V18.8481H2.36399ZM3.36395 19.8481C3.36396 19.8481 3.36397 19.8481 3.36398 19.8481L3.364 17.8481C3.36399 17.8481 3.36397 17.8481 3.36395 17.8481V19.8481ZM1 22.2114C1 20.9065 2.05849 19.8481 3.36395 19.8481V17.8481C0.954423 17.8481 -1 19.8014 -1 22.2114H1ZM3.36395 24.5747C2.05849 24.5747 1 23.5164 1 22.2114H-1C-1 24.6215 0.954423 26.5747 3.36395 26.5747V24.5747ZM3.37839 24.5747C3.37361 24.5747 3.36879 24.5747 3.36395 24.5747V26.5747C3.37272 26.5747 3.38151 26.5747 3.39032 26.5747L3.37839 24.5747Z" fill="#FBFBFB" mask="url(#path-9-inside-3)"/>
            <rect x="19.3381" y="0.5" width="5.72791" height="5.7266" stroke="#FBFBFB"/>
            <rect x="19.3481" y="19.3481" width="10.4896" height="5.71301" stroke="#FBFBFB"/>
            <rect x="22.0591" y="19.3481" width="4.93843" height="5.71301" stroke="#FBFBFB"/>
            <rect x="31.8868" y="19.4936" width="3.09831" height="1.29096" fill="#FBFBFB"/>
            <rect x="31.8868" y="21.5591" width="3.09831" height="1.29096" fill="#FBFBFB"/>
            <rect x="31.8868" y="23.6246" width="3.09831" height="1.29096" fill="#FBFBFB"/>
          </svg>

          Sorry, we cannot grant you access to Brittle Pins at the moment
        </h1>
      </div>

      <div class="email-body-container">
        <p>
          You requested an invitation to <b>Brittle Pins</b> for the email address <b><%= @email %></b>.
          Unfortunately, access cannot be provided at the moment.
        </p>

        <p>
          If you believe this rejection is a mistake, you can
          <a href="mailto:admin@brittle-pins.com?subject=Access denied">contact our admin</a>.
        </p>

        <p>
          Keep in mind that the service is currently working in a closed testing mode, and is not yet open for the general public.
          Please get in touch with us before you send another request.
        </p>

        <div class="signature">
          <svg class="signature-logo" width="35" height="26" viewBox="0 0 35 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.9397 15.6438H9.91907V10.6242L14.9397 15.6438Z" fill="#9FA0B3" stroke="#46454C"/>
            <path d="M20.0454 15.6438H25.066V10.6242L20.0454 15.6438Z" fill="#71A4EA" stroke="#46454C"/>
            <rect x="9.91907" y="19.3345" width="5.7279" height="5.7266" fill="#71A4EA" stroke="#46454C"/>
            <rect x="22.3173" y="19.3481" width="3.90566" height="5.71301" fill="#9FA0B3" stroke="#46454C"/>
            <rect x="9.91907" y="0.5" width="5.7279" height="5.7266" fill="#71A4EA" stroke="#46454C"/>
            <mask id="path-6-inside-1" fill="white">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M28.2721 12.7769C28.2721 12.7804 28.2721 12.7839 28.2721 12.7873C28.2721 12.7908 28.2721 12.7942 28.2721 12.7977V16.1506H31.6361V16.1506C33.4936 16.1506 35 14.6448 35 12.7873C35 10.9298 33.4935 9.42403 31.636 9.42403C31.6332 9.42403 31.6303 9.42403 31.6274 9.42404H28.2721V12.7769Z"/>
            </mask>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M28.2721 12.7769C28.2721 12.7804 28.2721 12.7839 28.2721 12.7873C28.2721 12.7908 28.2721 12.7942 28.2721 12.7977V16.1506H31.6361V16.1506C33.4936 16.1506 35 14.6448 35 12.7873C35 10.9298 33.4935 9.42403 31.636 9.42403C31.6332 9.42403 31.6303 9.42403 31.6274 9.42404H28.2721V12.7769Z" fill="#9FA0B3"/>
            <path d="M28.2721 12.7769L29.2721 12.78V12.7769H28.2721ZM28.2721 12.7977L29.2721 12.7977L29.2721 12.7947L28.2721 12.7977ZM28.2721 16.1506H27.2721V17.1506H28.2721V16.1506ZM31.6361 16.1506V17.1506H32.6361V16.1506H31.6361ZM31.6361 16.1506L31.6361 15.1506L30.6361 15.1506V16.1506H31.6361ZM31.6274 9.42404L31.6274 10.424L31.6299 10.424L31.6274 9.42404ZM28.2721 9.42404V8.42404H27.2721V9.42404H28.2721ZM29.2721 12.7873C29.2721 12.7849 29.2721 12.7824 29.2721 12.78L27.2721 12.7739C27.2721 12.7784 27.2721 12.7829 27.2721 12.7873H29.2721ZM29.2721 12.7947C29.2721 12.7922 29.2721 12.7898 29.2721 12.7873H27.2721C27.2721 12.7918 27.2721 12.7963 27.2721 12.8007L29.2721 12.7947ZM27.2721 12.7977V16.1506H29.2721V12.7977H27.2721ZM28.2721 17.1506H31.6361V15.1506H28.2721V17.1506ZM32.6361 16.1506V16.1506H30.6361V16.1506H32.6361ZM34 12.7873C34 14.0923 32.9415 15.1506 31.6361 15.1506L31.6361 17.1506C34.0456 17.1506 36 15.1974 36 12.7873H34ZM31.636 10.424C32.9415 10.424 34 11.4824 34 12.7873H36C36 10.3773 34.0456 8.42403 31.636 8.42403V10.424ZM31.6299 10.424C31.6319 10.424 31.634 10.424 31.636 10.424V8.42403C31.6323 8.42403 31.6286 8.42403 31.6248 8.42404L31.6299 10.424ZM31.6274 8.42404H28.2721V10.424H31.6274V8.42404ZM27.2721 9.42404V12.7769H29.2721V9.42404H27.2721Z" fill="#46454C" mask="url(#path-6-inside-1)"/>
            <mask id="path-8-inside-2" fill="white">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3.37205 25.5746H6.72788V22.2232C6.7279 22.2193 6.72791 22.2153 6.72791 22.2114C6.72791 22.2074 6.7279 22.2034 6.72788 22.1995V18.8481H3.36393V18.8481C1.50644 18.8481 1.90735e-06 20.3539 1.90735e-06 22.2114C1.90735e-06 24.0689 1.50646 25.5747 3.36395 25.5747C3.36665 25.5747 3.36935 25.5747 3.37205 25.5746Z"/>
            </mask>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.37205 25.5746H6.72788V22.2232C6.7279 22.2193 6.72791 22.2153 6.72791 22.2114C6.72791 22.2074 6.7279 22.2034 6.72788 22.1995V18.8481H3.36393V18.8481C1.50644 18.8481 1.90735e-06 20.3539 1.90735e-06 22.2114C1.90735e-06 24.0689 1.50646 25.5747 3.36395 25.5747C3.36665 25.5747 3.36935 25.5747 3.37205 25.5746Z" fill="#9FA0B3"/>
            <path d="M6.72788 25.5746H7.72788V26.5746H6.72788V25.5746ZM3.37205 25.5746L3.36975 24.5746H3.37205V25.5746ZM6.72788 22.2232L5.72788 22.2232L5.72789 22.2198L6.72788 22.2232ZM6.72788 22.1995L5.72788 22.203V22.1995H6.72788ZM6.72788 18.8481V17.8481H7.72788V18.8481H6.72788ZM3.36393 18.8481H2.36393V17.8481H3.36393V18.8481ZM3.36393 18.8481H4.36393V19.8481L3.36394 19.8481L3.36393 18.8481ZM6.72788 26.5746H3.37205V24.5746H6.72788V26.5746ZM7.72788 22.2232V25.5746H5.72788V22.2232H7.72788ZM5.72789 22.2198C5.7279 22.217 5.72791 22.2142 5.72791 22.2114H7.72791C7.72791 22.2165 7.7279 22.2216 7.72788 22.2267L5.72789 22.2198ZM5.72791 22.2114C5.72791 22.2086 5.7279 22.2058 5.72789 22.203L7.72788 22.196C7.7279 22.2011 7.72791 22.2063 7.72791 22.2114H5.72791ZM7.72788 18.8481V22.1995H5.72788V18.8481H7.72788ZM3.36393 17.8481H6.72788V19.8481H3.36393V17.8481ZM2.36393 18.8481V18.8481H4.36393V18.8481H2.36393ZM3.36394 19.8481C2.05848 19.8481 1 20.9064 1 22.2114H-0.999998C-0.999998 19.8013 0.954409 17.8481 3.36393 17.8481L3.36394 19.8481ZM1 22.2114C1 23.5163 2.05849 24.5747 3.36395 24.5747V26.5747C0.954424 26.5747 -0.999998 24.6214 -0.999998 22.2114H1ZM3.36395 24.5747C3.36583 24.5747 3.36776 24.5747 3.36975 24.5747L3.37435 26.5746C3.37094 26.5747 3.36748 26.5747 3.36395 26.5747V24.5747Z" fill="#46454C" mask="url(#path-8-inside-2)"/>
            <mask id="path-10-inside-3" fill="white">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3.37205 16.1438H6.72792V9.41724H3.36397V9.41725C3.36397 9.41725 3.36396 9.41725 3.36395 9.41725C1.50645 9.41725 0 10.923 0 12.7805C0 14.638 1.50645 16.1438 3.36395 16.1438C3.36665 16.1438 3.36935 16.1438 3.37205 16.1438Z"/>
            </mask>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.37205 16.1438H6.72792V9.41724H3.36397V9.41725C3.36397 9.41725 3.36396 9.41725 3.36395 9.41725C1.50645 9.41725 0 10.923 0 12.7805C0 14.638 1.50645 16.1438 3.36395 16.1438C3.36665 16.1438 3.36935 16.1438 3.37205 16.1438Z" fill="#71A4EA"/>
            <path d="M3.37205 16.1438L3.37205 15.1438L3.36975 15.1438L3.37205 16.1438ZM6.72792 16.1438V17.1438H7.72792V16.1438H6.72792ZM6.72792 9.41724H7.72792V8.41724H6.72792V9.41724ZM3.36397 9.41724V8.41724H2.36397V9.41724H3.36397ZM3.36397 9.41725V10.4172H4.36397V9.41725H3.36397ZM3.37205 17.1438H6.72792V15.1438H3.37205V17.1438ZM7.72792 16.1438V9.41724H5.72792V16.1438H7.72792ZM6.72792 8.41724H3.36397V10.4172H6.72792V8.41724ZM2.36397 9.41724V9.41725H4.36397V9.41724H2.36397ZM3.36395 10.4172C3.36395 10.4172 3.36395 10.4172 3.36396 10.4172C3.36396 10.4172 3.36397 10.4172 3.36397 10.4172V8.41725C3.36397 8.41725 3.36397 8.41725 3.36397 8.41725C3.36396 8.41725 3.36396 8.41725 3.36395 8.41725V10.4172ZM1 12.7805C1 11.4756 2.05849 10.4172 3.36395 10.4172V8.41725C0.954422 8.41725 -1 10.3705 -1 12.7805H1ZM3.36395 15.1438C2.05849 15.1438 1 14.0855 1 12.7805H-1C-1 15.1906 0.954422 17.1438 3.36395 17.1438V15.1438ZM3.36975 15.1438C3.36776 15.1438 3.36583 15.1438 3.36395 15.1438V17.1438C3.36747 17.1438 3.37094 17.1438 3.37435 17.1438L3.36975 15.1438Z" fill="#46454C" mask="url(#path-10-inside-3)"/>
            <rect x="19.3381" y="0.5" width="5.7279" height="5.7266" fill="#9FA0B3" stroke="#46454C"/>
            <rect x="20.3972" y="19.3644" width="1.42006" height="5.68024" fill="#9FA0B3"/>
            <rect x="18.848" y="19.3644" width="2.96921" height="0.516385" fill="#46454C"/>
            <rect x="18.848" y="20.3972" width="2.96921" height="0.516385" fill="#46454C"/>
            <rect x="18.848" y="21.43" width="2.96921" height="0.516385" fill="#46454C"/>
            <rect x="18.848" y="22.4628" width="2.96921" height="0.516385" fill="#46454C"/>
            <rect x="18.848" y="23.4955" width="2.96921" height="0.516385" fill="#46454C"/>
            <rect x="18.848" y="24.5283" width="2.96921" height="0.516385" fill="#46454C"/>
            <rect x="28.2721" y="19.3644" width="1.42006" height="5.68024" fill="#9FA0B3"/>
            <rect x="26.723" y="19.3644" width="2.96921" height="0.516385" fill="#46454C"/>
            <rect x="26.723" y="20.3972" width="2.96921" height="0.516385" fill="#46454C"/>
            <rect x="26.723" y="21.43" width="2.96921" height="0.516385" fill="#46454C"/>
            <rect x="26.723" y="22.4628" width="2.96921" height="0.516385" fill="#46454C"/>
            <rect x="26.723" y="23.4955" width="2.96921" height="0.516385" fill="#46454C"/>
            <rect x="26.723" y="24.5283" width="2.96921" height="0.516385" fill="#46454C"/>
            <rect x="31.8868" y="23.7537" width="3.09831" height="1.29096" fill="#46454C"/>
            <rect x="31.8868" y="21.5591" width="3.09831" height="1.29096" fill="#46454C"/>
            <rect x="31.8868" y="19.3644" width="3.09831" height="1.29096" fill="#46454C"/>
          </svg>

          <span>
            Best regards,
            <br />
            Brittle Pins
          </span>
        </div>

        <hr />

        <small>
          Please don't reply directly to this email.
          Instead, you can <a href="mailto:admin@brittle-pins.com?subject=Access denied">contact our admin</a>.
        </small>
      </div>
    </div>
  </body>
</html>