<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Sorry, we cannot grant you access to Brittle Pins at the moment</h1>

    <p>
      You requested access to <b>Brittle Pins</b> for the email address <b><%= @email %></b>.
      Unfortunately, access cannot be provided at the moment.
      If you believe this rejection is a mistake, please
      <a href="mailto:admin@brittle-pins.com">contact our admin</a>.
    </p>

    <small>Please don't reply directly to this email.</small>
  </body>
</html>